[Desktop Entry]
Type=Application
Name=Gaia Sky
Comment=Open Source 3D universe simulator for desktop and VR with support for more than a billion objects
Exec=gaiasky
Icon=de.uni_heidelberg.zah.GaiaSky
Terminal=false
Categories=Science;Education;
Keywords=space;planets;explore;milky
